.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px orchid;
}

.note {
    font-size: 15px;
    color: black;
}

.copyright_footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: beige;
    color: black;
    line-height: 3;
    text-align: center;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #50C878;
}